<div class="main">
  <h1 class="main__title medium" [innerHTML]="toUpperCase(title)"></h1>

  <!-- TODO -->
  <div [style]="backgroundRow" class="main__logo"></div>
  <input
    type="text"
    class="main__input"
    (input)="handleChange($event.target.value)"
    #username
  />

  <button
    (click)="handleClick(username.value)">
    Reset value
  </button>

  <div class="main__monitor" *ngIf="name.length">
    Searching for... {{ name }}
  </div>

  <!-- *ngFor-->
  <ul class="main__list">
    <li *ngFor="let person of people; let i = index;">

      <!-- variable 1
        <span
          class="main__status"
          [ngClass]="{
            'checked-in': person.isActive,
            'checked-out': !person.isActive
          }"
        ></span>
      -->

      <span
        class="main__status"
        [class.checked-in]="person.isActive"
        [class.checked-out]="!person.isActive"
      ></span>
      {{ i + 1 }}: {{ person.name }}
    </li>
  </ul>


    <article class="main__number">
      <h2 class="main__title small-size regular">{{ title }}</h2>
        {{ isEven([numberOne, numberTwo]) ? ':)' : ':(' }}
    </article>

</div>

