.main {
  $font-size: 2.5em;

  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  margin: 1.5em 0;

  .main__title {
    font-size: $font-size;
    word-spacing: 0.25em;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .main__logo {
    width: 165px;
    height: 40px;
    margin: 1.5em 0;
    border-radius: .5em;
  }

  .small-size {
    font-size: $font-size / 2;
  }

  .main__number {
    font-weight: 400;
    font-size: 1.5em;
    margin: 1em 0;
  }
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
