.main {
  $font-size: 2.5em;
  $width: 100%;

  width: $width;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  margin: 1.5em 0;

  .main__title {
    font-size: $font-size;
    word-spacing: 0.25em;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .main__logo {
    width: 165px;
    height: 40px;
    margin: 1.5em 0;
    border-radius: .5em;
  }

  input[type=text] {
    background-image: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
      background-color: transparent;
    box-shadow: none;
    outline: none;
    margin: 1em 0;
  }

  .main__input {
    width: $width / 3;
    font-size: $font-size / 2;
    font-weight: 400;
    color: #333;
    height: 2.5em;
    border: 1px solid #333;
    padding: 0 .5em
  }

  .main__input:focus {
    border: 1px solid #f60;
    font-style: italic;
  }

  .main__monitor {
    margin: 2em 0;
  }

  .small-size {
    font-size: $font-size / 2;
  }

  .main__number {
    font-weight: 400;
    font-size: 1.5em;
    margin: 1em 0;
  }
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
