<div class="main">
  <h1 class="main__title medium" [innerHTML]="toUpperCase(title)"></h1>

  <!-- TODO -->
  <div [style]="backgroundRow" class="main__logo"></div>
  <input
    type="text"
    class="main__input"
    (input)="handleChange($event.target.value)"
    #username
  />

  <button
    (click)="handleClick(username.value)">
    Reset value
  </button>

  <div class="main__monitor" *ngIf="name.length">
    Searching for... {{ name }}
  </div>

  <!-- ng-template -->
  <ul class="main__list">
    <ng-template ngFor let-person let-i="index" [ngForOf]="people">
      <li>
        {{ i + 1 }}: {{ person.name }}
      </li>
    </ng-template>
  </ul>

  <!-- *ngFor-->
  <ul class="main__list">
    <li *ngFor="let person of people; let i = index;">
      {{ i + 1 }}: {{ person.name }}
    </li>
  </ul>


    <article class="main__number">
      <h2 class="main__title small-size regular">{{ title }}</h2>
        {{ isEven([numberOne, numberTwo]) ? ':)' : ':(' }}
    </article>

</div>

